/* your code here */
.content{
	background-color:black;
	height:300px;
	width:500px;
}
.logo_name{
	color:white;
	font-size:30px;
}
.top{
	display:flex;
	justify-content:space-between;
}
.media-icons{
	color:white;
	display:flex;
.link-boxes{
	color:white;
	display:flex;
}
.table-data{
    color: white;
    text-decoration: underline;
}